*{  /*resetar o navegador*/

    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;

}

html, body{ 

    font-family: Arial, Helvetica, sans-serif; /*fontes*/
    color: black; /*cor da fonte*/
    font-size: 62.5%;
    text-rendering: optimizeLegibility;


}


body{

    
    background-color: white; /*cor de fundo*/
    
    /*alinhamento de margem*/
    margin-top: 5%;
    margin-bottom: 5%;

}


 /*padronização de titulos*/
.titulo{

    font-size: 5rem;
    font-weight: bold;
    

}

 /*padronização de subtitulos*/
.sub{

    font-size: 2,7rem;
    font-weight: bolder;

}

/*justifica todos os textos na tag p*/
p{

    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;

}

/*adiciona bordas nas imagens*/
img{

    border-radius: 10%;
    border: 0.2rem solid;
    margin-left: 5%;
    margin-right: 5%;

}

/*cor de fundo no texto*/
.grifar{

    background-color: black; /*cor que você quer grifar*/
    color: aliceblue; /*cor de fundo no texto precisa ser oposta*/
}


span{

    margin-left: 5%;
    margin-right: 5%;
}